html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root,
#canvas,
#UI {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#UI {
  z-index: 1;
  /* center the UI */
  display: flex;
  justify-content: center;
  align-items: center;
}

.UI-wrapper {
  /* center the UI */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #222;
  border-radius: 1rem;

  min-width: 30dvw;
  min-width: 30vw;
  min-height: 30dvh;
  min-height: 30vh;
}

.UI-wrapper button {
  /* center horizontally */
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
}